* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 200px;
    width: 200px;
    height: 60px;
    background-color: green;
    color: white;
}